<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log into {{config.ssid}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet"> 
    <style>

            #content {
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }
            #info {
            }
    </style>
</head>
<body>
    <div id="content">
        <h1>Scan this code:</h1>
        {{qrcode}}
        <div id="info"> Or select <br>
            "<span style="font-family: 'Roboto Mono', monospace;">{{config.ssid}}</span>" <br>
            and enter the passphrase <br>
            "<span style="font-family: 'Roboto Mono', monospace;">{{psk}}</span>" <br>
            manually. <br>
            <span style="font-style: italic">The passphrase will change at {{next_update_at}} UTC. </span> 
        </div>
    </div>
</body>
</html>